.navbar-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navbar-wrapper > .navbar-search {
    justify-content: flex-end;
}
.navbar-img-logo {
    width: 50px;
}

.navbar-search {
    display: inline-flex;
    border: 1px solid black;
    border-radius: 5px;
    
    
}

input[type=text] {
    text-overflow: ellipsis;
    vertical-align: top;
    border: none;
    width:85%;
}

.navbar-search-contain {
    border-left: 1px solid;
}

.navbar-search-image {

}

